<div>
    <a href="https://www.linkedin.com/in/fedegastaldi" target="_blank"> <img src="../../../assets/linkedin.png" id="linkedin"> </a>
    <a href="https://github.com/FedeGastaldi" target="_blank"> <img src="../../../assets/github.png" id="git"></a>
    <a href="https://twitter.com/Fedev__" target="_blank"> <img src="../../../assets/twitter.png" id="twitter"> </a>
    <a href="https://www.instagram.com/fedev___/" target="_blank"> <img src="../../../assets/instagram.png" id="ig"> </a>
    <button type="button" class="btn btn-success" (click)="login()">Login</button>
</div>