<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11 ">
        <ul>
            <li>
                <h1>Profesorado de Matematica</h1> - <h3>(2019 - Actualidad)</h3>
            </li>
            <p>Instituto de Formacion Docente N°17</p>
            <li>
                <h1>Tecnicatura en Desarrollo de Software</h1> - <h3>(Actualidad)</h3>
            </li>
            <p>Instituto de Formacion Tecnico Superior N°29</p>
            <li>
                <h1>Argentina programa</h1> - <h3>(2022 - 2023)</h3>
            </li>
            <p>HTML, CSS, Javascript, Angular, Java, MySql</p>
        </ul>

    </div>
</div>