
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FG2.jpg" alt="" class="img-fluid" id="foto">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fgdev" >
            <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span id="acercad">
                <h1 id="hacerca">Acerca de mi</h1> 
                <p>Hola! Soy Federico Gastaldi, Frontend Web Developer. Actualmente me encuentro en busqueda activa de una experiencia laboral y mientras tanto continúo capacitandome en el Front, dando mis primeros pasos en el mundo del Análisis de Datos y en Diseño.</p>
            </span>
        </div>
    </div>
