<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Task List</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus architecto enim culpa assumenda libero expedita totam voluptatem dolores velit a dolorem, voluptate sunt non accusamus quae saepe explicabo modi laboriosam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://lovely-squirrel-33ce1f.netlify.app">
                <img src="../../../assets/task.png" alt="" class="img-fluid img-proy">
            </a>
            
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Clima App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus architecto enim culpa assumenda libero expedita totam voluptatem dolores velit a dolorem, voluptate sunt non accusamus quae saepe explicabo modi laboriosam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://climapp2.netlify.app/">
                <img src="../../../assets/clima.png" alt="" class="img-fluid img-proy">
            </a>
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>App Administador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus architecto enim culpa assumenda libero expedita totam voluptatem dolores velit a dolorem, voluptate sunt non accusamus quae saepe explicabo modi laboriosam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://veteapp.netlify.app">
                <img src="../../../assets/admin.png" alt="" class="img-fluid img-proy">
            </a>
            
        </div>
    </div>
</div>